<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENDPOINT_URL</key>
	<string>https://rawgit.com/GabrielCTroia/beetlejuice-sample-repo1</string>
	<key>REPO_NAME</key>
	<string>BetelgeuseSampleRepo</string>
	<key>CURRENT_SCHEMA_VERSION</key>
	<string>11.0.0</string>
	<key>CURRENT_DATA_VERSION</key>
	<string>11.0.0</string>
</dict>
</plist>
